@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #111;
  --body-fore-color: #fff;
  --here-text-color: #595959;
  --slider-bg-color: #ccc;
  --slider-before-bg-color: #fff;
}

* {
  font-family: "Poppins";
}

body {
  user-select: none;
  background-color: var(--bg-color);
  color: var(--body-fore-color);
  transition: all 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
}

.container {
  margin: auto;
  text-align: center;
  /* CENTER VERTICALLY & HORIZONTALLY - REMOVE FOR HORIZONTALLY ONLY*/
  /* padding: 30vh 0vh; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

#back-btn {
  height: 50px;
  width: 200px;
  font-size: 19px;
  color: var(--body-fore-color);
  background-color: #222;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin: 100px 0px;
  transition: all 0.15s linear;
}

#back-btn:hover {
  opacity: 0.6;
}

.info {
  
}